<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Тип улики</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evidenceOfCrime of evidences" routerLink="/evidence" [queryParams]="{'crime_id':crimeId, 'evidence_id': evidenceOfCrime.evidence.id}">
      <th scope="row"> <img class="img" src="{{evidenceOfCrime.photoPath}}" alt=""></th>
      <td>{{evidenceOfCrime.evidence.name}}</td>
      <td>{{evidenceOfCrime.type.name}}</td>
    </tr>
  </tbody>
</table> 