<app-navbar></app-navbar> 
<div class="container"> 
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <h3 class="list-group-item bg-dark">
          Категории
        </h3>
        <p class="list-group-item list-group-item-action" (click)="changeActiveCategory(0)">Дела</p>
        <p class="list-group-item list-group-item-action" (click)="changeActiveCategory(1)">Преступления</p>
        <p class="list-group-item list-group-item-action" (click)="changeActiveCategory(2)">Улики</p>
        <p class="list-group-item list-group-item-action" (click)="changeActiveCategory(3)">Люди</p>
      </div>
    </div>
    <div class="col-lg-9">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 col-sm-9 col-lg-10" type="text" placeholder="Поиск">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
      </form>
      <div style="height:40px">

      </div>
      <table *ngIf="activeCategoryId==0" class="table table-hover">
        <thead>
          <tr>
            <th  scope="col">Номер дела</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let criminalCase of  criminalCases"
            [ngClass]="{'table-primary':(criminalCase.type ==='Закрыто')}"
            routerLink="/criminal_case/{{criminalCase.id}}">
            <th scope="row">{{criminalCase.number}}</th>
            <td>{{criminalCase.type}}</td>
          </tr>
        </tbody>
      </table> 

      <table *ngIf="activeCategoryId==1" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Номер дела</th>
            <th scope="col">Дата преступления</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crime of crimes" 
            [ngClass]="{'table-primary':(crime.criminalCase.type ==='Закрыто')}"
            routerLink="/crime/{{crime.id}}">
            <th scope="row">{{crime.criminalCase.number}}</th>
            <td>{{crime.date}}</td>
            <td>{{crime.criminalCase.type}}</td>
          </tr>
        </tbody>
      </table> 

      <table *ngIf="activeCategoryId==2" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Фото</th>
            <th scope="col">Название</th>
            <th scope="col">Номер дела</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evidenceOfCrime of evidencesOfCrime">
            <th scope="row"> <img class="img" src="{{evidenceOfCrime.photoPath}}" alt=""></th>
            <td>{{evidenceOfCrime.evidence.name}}</td>
            <td>{{evidenceOfCrime.crime.criminalCase.number}}</td>
          </tr>
        </tbody>
      </table> 

      <table *ngIf="activeCategoryId==3" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Фото</th>
            <th scope="col">Имя</th>
            <th scope="col">Количество дел</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let man of men">
            <th scope="row"> <img class="img" src="{{man.photoPath}}" alt=""></th>
            <td>{{man.name}} {{man.surname}}</td>
            <td>{{man.crimesPartAmount}}</td>
          </tr>
        </tbody>
      </table> 

    </div>
  </div>
</div>