<app-navbar></app-navbar>
<div class="container">
  <div class="form-horizontal">
    <fieldset class="col-md-offset-2 col-md-8">
      <legend class="my-3"><h2>Новая улика преступления</h2></legend>

      <tabset class=" col-md-12" (onSelect)="tabSelect($event)">     
        <tab class="" title="" [active]="true">
          <span *tabHeading>
            Выбрать
          </span>
          <div class="mt-4">
            <div class="form-group row">
              <label for="evidence" class="col-sm-4 col-form-label">Улика</label>
              <div class="col-sm-8">
                <select class="form-control col-sm-12 col-md-12" id="evidence" (change)="changeSelectedEvidence($event)">
                  <option *ngFor="let evidence of evidences" value="{{evidence.id}}">{{evidence.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="evidence-description" class="col-sm-4 col-form-label" required>Описание</label>
              <div class="col-sm-8 col-md-8">
                <textarea type="text" id="evidence-description" class="form-control" [(ngModel)]="evidenceOfCrime.evidence.description"
                  readonly="" rows="3"></textarea>         
              </div>
            </div>
          </div>      
        </tab>  
        <tab title="">
          <span *tabHeading>
            Создать новую
          </span>
          <div class="mt-4" *ngIf="newEvidence">
            <div class="form-group row">
              <label for="evidence-name" class="col-sm-4 col-form-label" required>Название</label>
              <div class="col-sm-8 col-md-8">
                <input type="text" id="evidence-name" class="form-control" [(ngModel)]="newEvidence.name"
                  [ngClass]="{'is-invalid':(!newEvidence.name)}">          
              </div>
            </div>
            <div class="form-group row">
              <label for="evidence-description" class="col-sm-4 col-form-label" required>Описание</label>
              <div class="col-sm-8 col-md-8">
                <textarea type="text" id="evidence-description" class="form-control" [(ngModel)]="newEvidence.description"
                  rows="3" ></textarea>         
              </div>
            </div>
          </div>      
        </tab>         
      </tabset>
      <div class="form-group row">
        <label for="evidence-type" class="col-sm-4 col-form-label">Тип</label>
        <div class="col-sm-8">
          <select class="form-control col-sm-12 col-md-12" id="evidence-type" (change)="changeSelectedEvidenceType($event)">
            <option *ngFor="let type of evidenceTypes" value="{{type.enumValue}}">{{type.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="evidence-details" class="col-sm-4 col-form-label" required>Детальное описание</label>
        <div class="col-sm-8 col-md-8">
          <textarea type="text" id="evidence-details" class="form-control" [(ngModel)]="evidenceOfCrime.details"
            rows="3" ></textarea>         
        </div>
      </div>
      <div class="form-group row">
        <label for="evidence-date" class="col-sm-4 col-form-label">Дата нахождения</label>
        <div class="col-sm-8 col-md-8">
          <input id="evidence-date" class="form-control" type="date" [(ngModel)]="evidenceOfCrime.dateAdded"
          [ngClass]="{'is-invalid':(!evidenceOfCrime.dateAdded)}">         
        </div>
      </div> 
      <div class="form-group row">
        <label for="evidence-time" class="col-sm-4 col-form-label">Время нахождения</label>
        <div class="col-sm-8 col-md-8">
          <input id="evidence-time" class="form-control" type="time" [(ngModel)]="evidenceOfCrime.timeAdded"
          [ngClass]="{'is-invalid':(!evidenceOfCrime.timeAdded)}">         
        </div>
      </div> 
      <div class="form-group row">
        <label for="evidence-photo" class="col-sm-4 col-form-label">Фото</label>
        <div class="col-sm-8 col-md-8">
            <input type="file" (change)="uploadFile($event)"> 
        </div>
      </div> 
      <div class="form-group row">
        <label for="evidence-photo" class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8 col-md-8">
          <div class="evidence-image">
            <img id='evidence-image' src="{{evidenceOfCrime.photoPath}}">
          </div>
        </div>
      </div> 
      <!--div class="form-group block img-block col-md-offset-3 col-md-12">
        <div  class=" col-md-offset-1 col-md-2 user-img">
          <img id='evidence-image' src="{{evidenceOfCrime.photoPath}}">
        </div>
        <div class="col-md-8">
          <div>Добавить фото</div>
          <input type="file" (change)="uploadFile($event)">  
        </div>
      </div-->
      <div class="col-md-9 mx-auto mt-4">
        <button type="submit" role="submit" class="btn col-sm-3 col-md-4 mt-4 btn-secondary" (click)="addEvidence()">Добавить</button>
        <button type="submit" class="btn btn-secondary col-sm-3 col-md-4 mt-4 ml-5"  routerLink="/crime/{{crimeId}}">Отмена</button>
      </div>
    </fieldset>
  </div>
</div>