<app-navbar></app-navbar> 
<div class="container">
  <div class="row">
    <div class="col-lg-3" >
      <div class="list-group" id="menu">
        <h3 class="list-group-item bg-dark">
          Действия
        </h3>
        <p class="list-group-item list-group-item-action" >Добавить преступление</p>
        <p class="list-group-item list-group-item-action" >Редактировать данные</p>
        <p class="list-group-item list-group-item-action" >Закрыть дело</p>
        <p class="list-group-item list-group-item-action" >Удалить дело</p>
      </div>
    </div>
    <div class="col-lg-9">
      <form>
        <fieldset>
          <legend><h2>Дело № {{criminalCase.number}}</h2></legend>
          <div class="form-group row">
            <label for="criminal-case-number" class="col-sm-1 col-form-label">Дело</label>
            <div class="col-sm-11">
              <input type="text" readonly="" class="form-control-plaintext" id="criminal-case-number" value=" {{criminalCase.number}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="detective" class="col-sm-1 col-form-label">Детектив</label>
            <div class="col-sm-11">
              <input type="text" readonly="" class="form-control-plaintext" id="detective" value="{{criminalCase.detective.name}} {{criminalCase.detective.surname}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-sm-1 col-form-label">Статус</label>
            <div class="col-sm-11">
              <input type="text" readonly="" class="form-control-plaintext" id="status" value="{{criminalCase.type}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="open-date" class="col-sm-2 col-form-label">Дата открытия</label>
            <div class="col-sm-2">
              <input type="text" readonly="" class="form-control-plaintext" id="open-date" value="{{criminalCase.createDate}}">
            </div>
            <label for="close-date" class="col-sm-2 col-form-label">Дата закрытия</label>
            <div class="col-sm-2">
              <input *ngIf="criminalCase.closeDate" id="date" type="date" value="criminalCase.closeDate">
              <input *ngIf="!criminalCase.closeDate" type="text" readonly="" class="form-control-plaintext" id="close-date" value="-">                          
            </div>
          </div> 
          <label>Преступления, относящиеся к делу</label>
          <app-crime-table [crimes]="criminalCase.crimes" [criminalCaseNumber]="criminalCase.number"></app-crime-table>       
        </fieldset>
        </form>
    </div>
  </div>
</div>