<app-navbar></app-navbar> 
<div class="container">
  <div class="row">
    <div class="col-lg-3" >
      <div class="list-group" id="menu">
        <h3 class="list-group-item bg-dark">
          Действия
        </h3>
        <p class="list-group-item list-group-item-action" routerLink="/add_crime" [queryParams]="{'criminal_case':criminalCaseId}">Добавить преступление</p>
        <p class="list-group-item list-group-item-action" (click)="switchMode(false)">Редактировать данные</p>
        <p *ngIf="!criminalCase || !criminalCase.closeDate" class="list-group-item list-group-item-action" 
        (click)="closeCriminalCase()">Закрыть дело</p>
      </div>
    </div>
    <div class="col-lg-9">
      <fieldset *ngIf="criminalCase">
        <legend><h2>Дело № {{criminalCase.number}}</h2></legend>
        <div class="form-group row">
          <label for="criminal-case-number" class="col-sm-2 col-form-label">Дело</label>
          <div class="col-sm-4 col-md-4">
            <input type="text" [readonly]="readMode" class="form-control"
            [class.form-control-plaintext]="readMode"
            id="criminal-case-number" [(ngModel)]="criminalCase.number"
            [class.is-invalid]="!criminalCase.number"
            maxLength="50">
          </div>
        </div>
        <div class="form-group row">
          <label for="detective" class="col-sm-2 col-form-label">Детектив</label>
          <div class="col-sm-9">
            <input *ngIf="readMode" 
             type="text" [readonly]="readMode" class="form-control col-sm-5 col-md-5"
             [class.form-control-plaintext]="readMode"
             id="detective" value="{{criminalCase.detective.name}} {{criminalCase.detective.surname}}">
             <select *ngIf="!readMode" class="form-control col-sm-5 col-md-5" id="detective" (change)="changeSelectedDetective($event)">
              <option *ngFor="let detective of allDetectives" value="{{detective.id}}">
                {{detective.name}} {{detective.surname}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Статус</label>
          <div class="col-sm-4 col-md-3">
            <input type="text" readonly="" class="form-control"
             class="form-control-plaintext" 
            id="status" [(ngModel)]="criminalCase.type">
          </div>
        </div>
        <div class="form-group row">
          <label for="open-date" class="col-sm-2 col-form-label">Дата открытия</label>
          <div class="col-sm-5 col-md-4">
            <input type="date" [readonly]="readMode" class="form-control"
            [class.form-control-plaintext]="readMode"
            id="open-date" [(ngModel)]="criminalCase.createDate"
            [class.is-invalid]="!criminalCase.createDate">
          </div>
          <label for="close-date" class="col-sm-2 col-form-label">Дата закрытия</label>
          <div class="col-sm-5 col-md-4">
            <input *ngIf="criminalCase.closeDate" class="form-control"
            [class.form-control-plaintext]="readMode"
            [readonly]="readMode"  id="date" type="date"  [(ngModel)]="criminalCase.closeDate"
            [class.is-invalid]="!criminalCase.closeDate">
            <input *ngIf="!criminalCase.closeDate" type="text" readonly="" class="form-control-plaintext" id="close-date" value="-">                          
          </div>
        </div> 
        <label>Преступления, относящиеся к делу</label>
        <app-crime-table [crimes]="criminalCase.crimes" ></app-crime-table>   
        <div class="my-3" *ngIf="!readMode">
          <button class="btn btn-secondary" (click)="saveChanges()">Сохранить изменения</button>
          <button class="btn btn-secondary" (click)="cancellationOfChanges()">Отмена</button>
        </div>  
      </fieldset>
    </div>
  </div>
</div>