textarea{
    resize: none;
}

#man-name{
    cursor: pointer;
    text-decoration: underline;
}

#criminal-case-number{
    cursor: pointer;
    text-decoration-line: underline;
}

#crime{
    cursor: pointer;
    text-decoration-line: underline;
}